@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,600&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 25pt;
    font-weight: normal;
    margin-top: 30pt;
    margin-bottom: -10pt;
}

h2 {
    clear:both;
    font-size: 15pt;
    margin-bottom: -5pt;
}

.li_pub {
    list-style-type: none;
    padding: 5pt;
}

.ul_pub {
    list-style: none;
    padding-left: 0;
}

.li_experience {
    padding-left: 5pt;
    padding: -5pt;
}

.ul_experience {
    padding-left: 25pt;
}
    
.left {
    float:left;
}
  
.right {
    float:right;
}

img {
    margin: 0px auto;
    padding: 15px 40px 30px 0px;  /* top right bottom left */
    float: left;
}

a.url {
    color: #4169E1;
    text-decoration: none;
}
